package-lock=false

@mockscope:registry=http://localhost:63142
//localhost:63142/:_authToken=MySecretToken

@mockscope2:registry=http://localhost:63143
//localhost:63143/:username=Aladdin
//localhost:63143/:_password=T3BlblNlc2FtZQ==

@mockscope3:registry=http://localhost:63144
